* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input, button {
  outline: 0;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  height: 46px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;

  font-size: 16px;
  color: #667580;
  font-weight: bold;

  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin: 0;
}

header#main-header nav ul li img {
  margin-right: 5px;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input {
  width: 220px;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  font-weight: bold;
  background: #f5f8fa url('./assets/search.svg') no-repeat 190px;
}

header#main-header div.side img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button {
  height: 34px;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border: 0;
  border-radius: 16px;
}

div.banner {
  height: 380px;
  width: 100%;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}

div.bar {
  height: 59px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
  height: 100%;
}

div.bar .content ul {
  display: flex;
  list-style: none;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}

div.bar .content ul li.active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3bb9e3;
}

div.bar .content ul span {
  font-size: 12px;
  color: #667580;
  font-weight: bold;
}

div.bar .content ul li strong {
  font-size: 18px;
  font-weight: bold;
  color: #667580;
  margin-top: 2px;
}

div.bar .content ul li.active strong {
  color: #3bb9e3;
}

div.bar .content .actions {
display: flex; 
}

div.bar .content .actions button {
  height: 34px;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #3bb9e3;
  border: 1px solid #3bb9e3;
  border-radius: 16px;
  margin-right: 20px;
}

div.wrapper-content {
  display:  flex;
}

div.wrapper-content aside.profile {
  width: 260px;
}

div.wrapper-content aside.profile img.avatar-profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  margin-top: -130px;
}

div.wrapper-content aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #53626c;
}

div.wrapper-content aside.profile p {
  font-size: 14px;
  color: #1f2226;
  margin-top: 15px;
}

div.wrapper-content aside.profile ul {
  list-style: none;
  margin-top: 20px;
}

div.wrapper-content aside.profile ul.list li {
 font-size: 14px;
  color: #657786;

  display: flex;
  align-items: center;
  margin-top: 5px;
}

div.wrapper-content aside.profile ul.list li:first-child {
  margin: 0;
}

div.wrapper-content aside.profile ul.list li img {
  margin-right: 10px;
}

div.wrapper-content aside.profile li a {
  text-decoration: none;
}

div.wrapper-content aside.profile .widget {
  margin-top: 20px;
}

div.wrapper-content aside.profile .widget strong {
  font-weight: normal;
  color: #3bb9e3;
  font-size: 14px;
  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile .widget strong img {
  margin-right: 5px;
}

div.wrapper-content aside.profile .followers ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

div.wrapper-content aside.profile .followers ul li {
  width: 45px;
  height: 45px;
  background: #d0d5d9;
  border-radius: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 5px 10px 0;
}

div.wrapper-content aside.profile .images ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

div.wrapper-content aside.profile .images ul li {
  width: 80px;
  height: 80px;
  background: #d0d5d9;
  border-radius: 8px;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 5px 5px 0;
}

div.wrapper-content .timeline {
  flex: 1;
  background: #ffffff;
  margin: 10px 20px 0;
}

div.wrapper-content .timeline nav {
  border-bottom: 1px solid  #e6ecf0;
  padding: 10px 15px;
}

div.wrapper-content .timeline nav a {
  text-decoration: none;
  color: #3bb9e3;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

div.wrapper-content .timeline nav a:first-child {
  margin: 0px;
}

div.wrapper-content .timeline nav a.active {
  color: #1f2226;
}

div.wrapper-content .timeline ul.tweets {
  list-style: none;
}

div.wrapper-content .timeline ul.tweets li {
  border-bottom: 1px solid  #e6ecf0;
  padding: 10px 15px;
  display: flex;
}

div.wrapper-content .timeline ul.tweets li > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

div.wrapper-content .timeline ul.tweets li .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

div.wrapper-content .timeline ul.tweets li .info strong {
  font-size: 14px;
  color: #1f2326;
}

div.wrapper-content .timeline ul.tweets li .info strong span {
  font-weight: normal;
  font-size: 13px;
  color: #7b8b9a;
}

div.wrapper-content .timeline ul.tweets li .info p {
  font-size: 14px;
  color: #1f2326;
  margin-top: 5px;
}

div.wrapper-content .timeline ul.tweets li .actions {
  display: flex;
  margin-top: 10px;
}

div.wrapper-content .timeline ul.tweets li .actions a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #667580;
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
}

div.wrapper-content .timeline ul.tweets li .actions a:first-child {
  margin-left: 0;
}

div.wrapper-content .timeline ul.tweets li .actions a img {
  margin-right: 5px;
}


div.wrapper-content aside.widgets {
  width: 290;
  margin-top: 10px;
} 

div.wrapper-content aside.widgets .widget {
  background: #ffffff;
  padding: 15px;
} 

div.wrapper-content aside.widgets .widget .title {
  display: flex;
  align-items: baseline;
}

div.wrapper-content aside.widgets .widget .title strong {
  font-size: 18px;
  color: #1f2226;
}

div.wrapper-content aside.widgets .widget .title a {
  font-size: 12px;
  color: #3bb9e3;
  text-decoration: none;
  position: relative;
  padding-left: 10px;

}

div.wrapper-content aside.widgets .widget .title a::before {
  content: ' ';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  position: absolute;
  left: 4px;
  top: 6px;
}

div.wrapper-content aside.widgets .follow ul {
  list-style: none;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc6dd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.wrapper-content aside.widgets .follow ul li:last-child{
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

div.wrapper-content aside.widgets .follow ul li .to-follow {
  display: flex;
  align-items: center;

}

div.wrapper-content aside.widgets .follow ul li .to-follow img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

div.wrapper-content aside.widgets .follow ul li .to-follow .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

div.wrapper-content aside.widgets .follow ul li .to-follow .info strong {
  font-size: 14px;
  color: #1f2326;
}

div.wrapper-content aside.widgets .follow ul li .to-follow .info strong span {
  font-weight: normal;
  color: #9a9a9a;
}

div.wrapper-content aside.widgets .follow ul li .to-follow .info button {
  height: 27px;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #3bb9e3;
  border: 1px solid #3bb9e3;
  border-radius: 16px;
  margin-top: 4px;
}

div.wrapper-content aside.widgets .follow ul li > a {
  margin-top: 2.5px;
}

div.wrapper-content aside.widgets .follow ul li > a.find-friends {
  display: flex;
  align-items: center;
  color: #3bb9e3;
  text-decoration: none;
}

div.wrapper-content aside.widgets .follow ul li > a.find-friends p {
  margin-left: 5px;
  font-size: 16px;
}

div.wrapper-content aside.widgets .trends {
  margin-top: 10px;
}

div.wrapper-content aside.widgets .trends div.title {
  margin-bottom: 5px;
}

div.wrapper-content aside.widgets .trends p {
  margin-bottom: 3px;
  font-size: 14px;
  color: #3bb9e3;
}